manifest {
    name = 'txsuite/pseudobulk-de'
    version = '0.1.0'
    nextflowVersion = '>=25.10.0'
}

params {
    input = null
    outdir = 'results/pseudobulk-de'
    sample_column = 'sample'
    design = 'condition'
    reference = 'control'
    test = 'treated'
    single_cell_image = null
    bulk_image = null
    padj = 0.05
    lfc = 1.0
    top_genes = 50
}

process.shell = ['/bin/bash', '-ue']

profiles {
    local {
        includeConfig 'profiles/local.config'
    }
    docker {
        includeConfig 'profiles/docker.config'
    }
    apptainer {
        includeConfig 'profiles/apptainer.config'
    }
}
